<div class="app-grid" [formGroup]="mainForm" [ngClass]="{'hidden': tuneAreaHidden}">

  <div class="section-area">
    <section id="orcamento">
      <h1 class="section-title">1. Pretendo gastar na CPU</h1>
      <div
        class="form-container d-flex justify-content-center align-items-center"
      >
        <div class="d-flex justify-content-between align-items-start gap-3">
          <mat-form-field appearance="outline">
            <mat-label>De</mat-label>
            <input
              matInput
              type="number"
              formControlName="orcamentoMin"
              [max]="mainForm.value.orcamentoMax"
              [value]="mainForm.value.orcamentoMin"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Até</mat-label>
            <input
              matInput
              type="number"
              formControlName="orcamentoMax"
              [min]="mainForm.value.orcamentoMin"
              [value]="mainForm.value.orcamentoMax"
            />
          </mat-form-field>
        </div>
        <mat-slider min="0" max="10000" class="w-100">
          <input
            matSliderStartThumb
            formControlName="orcamentoMin"
            [value]="mainForm.value.orcamentoMin"
          />
          <input
            matSliderEndThumb
            formControlName="orcamentoMax"
            [value]="mainForm.value.orcamentoMax"
          />
        </mat-slider>
      </div>

      <a mat-fab extended class="next-btn" href="#vous">
        <mat-icon>arrow_downward</mat-icon>
        Próximo
      </a>
    </section>
    <section id="vous">
      <h1 class="section-title">2. No meu PC eu vou</h1>
      <div class="form-container">
        <mat-chip-listbox class="mat-mdc-chip-set" formControlName="vous" multiple>
          @for (vou of vous; track vou.id; let i = $index) {
            <mat-chip-option [value]="vou">{{vou.label}}</mat-chip-option>
            @for (child of getSelectedVou(vou.id)?.children; track child.id) {
              <mat-chip-option [value]="child">{{child.label}}</mat-chip-option>
            }
          }
        </mat-chip-listbox>
      </div>
      <div class="section-nav d-flex justify-content-between p-3">
        <a mat-fab extended href="#orcamento">
          <mat-icon>arrow_upward</mat-icon>
          Voltar
        </a>
        <a mat-fab extended href="#sers">
          <mat-icon>arrow_downward</mat-icon>
          Próximo
        </a>
      </div>
    </section>
    <section id="sers">
      <h1 class="section-title">3. Meu PC vai ser</h1>
      <div class="form-container">
        <mat-chip-listbox class="mat-mdc-chip-set" formControlName="sers" multiple>
          @for (ser of sers; track ser.id; let i = $index) {
            <mat-chip-option [value]="ser">{{ser.label}}</mat-chip-option>
            @for (child of getSelectedSer(ser.id)?.children; track child.id) {
              <mat-chip-option [value]="child">{{child.label}}</mat-chip-option>
            }
          }
        </mat-chip-listbox>
      </div>
      <div class="section-nav d-flex justify-content-between p-3">
        <a mat-fab extended href="#vous">
          <mat-icon>arrow_upward</mat-icon>
          Voltar
        </a>
        <a mat-fab extended (click)="calcularEspecificacoes()" href="#resultado">
          <mat-icon>check_small</mat-icon>
          Calcular
        </a>
      </div>
    </section>
    <section id="resultado">
      <h1 class="section-title">Sua recomendação de CPU é:</h1>
      <div class="result-container">
        <h2>_Arquitetura {{(isSerSelected({id: 11}) || (recomendacoes.consumoEnergia < 50 && isSerSelected({id: 1}))) ? 'RISC' : 'CISC'}}</h2>
        <h2>_{{recomendacoes.nucleos}} núcleos de processamento</h2>
        <h2>_{{recomendacoes.frequencia}}GHz de frequência</h2>
        <h2>_{{recomendacoes.cacheL1}}KBs de cache L1</h2>
        <h2>_{{recomendacoes.cacheL2}}KBs de cache L2</h2>
        <h2>_{{recomendacoes.cacheL3}}KBs de cache L3</h2>
        <h2>_{{recomendacoes.consumoEnergia}}W de consumo</h2>
      </div>
      <div class="section-nav d-flex justify-content-between p-3">
        <a mat-fab extended href="#sers">
          <mat-icon>arrow_upward</mat-icon>
          Voltar
        </a>
        <a mat-fab extended (click)="reiniciar()" href="#orcamento">
          <mat-icon>check_small</mat-icon>
          Reiniciar
        </a>
      </div>
    </section>
  </div>
  <div class="tune-area fs-10" [ngClass]="{'hidden': tuneAreaHidden}">
    <button mat-fab class="tune-toggle" (click)="tuneAreaHidden = !tuneAreaHidden">
      <mat-icon>tune</mat-icon>
    </button>
    @for (peso of getTransformedPesos(); track $index) {
      <span class="p-1 mt-2">{{peso.label}}</span>
      <div class="d-flex align-items-center gap-2">
        <button mat-mini-fab (click)="add2Peso(peso)"><mat-icon>remove</mat-icon></button>
        <div class="bar-wrap">
          <div class="bar" [ngStyle]="{'width': getPesoPercentage(peso)}"></div>
        </div>
        <button mat-mini-fab (click)="add2Peso(peso, true)"><mat-icon>add</mat-icon></button>
      </div>
    }
  </div>
</div>

<!-- <router-outlet /> -->
